*
!cli/*
!packages/*.js
!packages/*.d.ts
!packages/*.js.map
!packages/**/*.js
!packages/**/*.d.ts
!packages/**/*.js.map
!src/*.js
!src/*.d.ts
!src/*.js.map
!src/**/*.js
!src/**/*.d.ts
!src/**/*.js.map
!package.json
!*.md
!*.png
